


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:#e8f5e9;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;

}
form{
  margin: 0px;
}

main {
  flex: 1 0 auto;
}


a i {
  font-size:18px;

}

#add-btn{
  float: right;
  bottom:30px;
  right: 30px;
}

footer{
  margin-top:20px;
}

.secondary-content{
  margin-left:20px;
}

.edit-btn{
  float: right;
  bottom: 38px;
}

.date{
font-size: 8px;
}
/* .btn-small{
  position: relative;
  bottom: 50px;
  float: right;
  left:100px;
} */

#form-item{
  display: inline;
  background-color: red;
  padding: 0;
  margin: 0;
}

