


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:#e8f5e9;
  font-family: 'Montserrat', sans-serif;
}

main {
  flex: 1 0 auto;
}


a i {
  font-size:18px;

}

#add-btn{
  float: right;
  bottom:30px;
  right: 30px;
}

footer{
  margin-top:20px;
}

/* .btn-small{
  position: relative;
  bottom: 50px;
  float: right;
  left:100px;
} */



