<div class="container">
  <form action="">
    <div class="collection">


      <a href="#!" class="collection-item">

        <label>
          <input type="checkbox" class="filled-in" checked="checked" />
          <span>Alan1</span>
        </label>

        <span class="badge" data-badge-caption="days">1</span>Alan</a>



      <a href="#!" class="collection-item">
        <span class="new badge red">4</span>Alan</a>
      <a href="#!" class="collection-item">Alan</a>
      <a href="#!" class="collection-item">
        <span class="new badge green darken-3" data-badge-caption="days">14</span>Item</a>
    </div>

    <div class="row">
      <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="input_text" type="text" data-length="60">
                <label for="input_text">Input text</label>
<a class="waves-effect waves-light btn-small">save</a>

              </div>
          </div>
        </div>
      </form>
    </div>

  

  
  
  

        



</script>




  </form>
</div>