<div class="container">
  <form action="/tasks" method="POST" class="col s12">
    <div class="collection">



      <a href="#!" class="collection-item">
        <span class="new badge red">4</span>Task1</a>
      <a href="#!" class="collection-item">Alan</a>
      <a href="#!" class="collection-item">
        <span class="new badge green darken-3" data-badge-caption="days">14</span>Item</a>
    </div>
    <!-- add a task -->
    <div class="row">
      {{!--
      <form action="/tasks" method="POST" class="col s12"> --}}
          <div class="input-field col s6">
            <input id="input_text" type="text" data-length="20" name="body">
            <label for="input_text">Input text</label>
            <input type="submit" value="Save" onclick="M.toast({html: 'I am a toast'})" class="btn-small">
          </div>

      </form>
    </div>
</div>











</script>




</form>
</div>