<h4>tasks listed by the team</h4>

<div class="row">
  <div class="col s12 m6">
    <div class="card green darken-3">
      <div class="card-content white-text">
        <p class="center-align">{{user.firstName}} {{user.lastName}}</p>
        <div class="collection">
          {{#each tasks}}
          <a href="#!" class="collection-item">
        <span class="new badge red">4</span>{{body}}</a>
        {{else}}
        <p>no tasks added</p>
        {{/each}}
        </div>
      </div>
    </div>
  </div>




</div>