<h1>Welcome {{user.firstName}}</h1>
<p>DayTask 1.0.0</p>
<p>Post tasks and have fun</p>

{{#if user}}
<h4>Thank you for using DayTask</h4> 
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i> Login with google</a>

{{/if}}